:root {
	--dark-blue: hsl(233, 26%, 24%);
	--lime-green: hsl(136, 65%, 51%);
	--bright-cyan: hsl(192, 70%, 51%);
	--grayish-blue: hsl(233, 8%, 62%);
	--light-grayish-blue: hsl(220, 16%, 96%);
	--very-light-gray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);
}

@font-face {
	font-family: "Public Sans";
	src: url("./../fonts/Public_Sans/PublicSans-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: "Public Sans";
	src: url("./../fonts/Public_Sans/PublicSans-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Public Sans";
	src: url("./../fonts/Public_Sans/PublicSans-Bold.ttf");
	font-weight: 700;
}

html {
	font-family: "Public Sans", sans-serif;
	font-size: 18px;
}

/* make images responsive */
img {
	width: 100%;
	height: auto;
}

body {
	color: var(--grayish-blue);
	background-color: var(--very-light-gray);
}

/* custom resets */
a {
	text-decoration: none;
	color: unset;
}

button {
	background-color: unset;
	border: unset;
}

/* Utilities */
.logo {
	width: 10rem;
}

.request-invite-cta {
	padding: 1rem 3rem;
	font-size: 4vw;
	color: var(--white);
	border-radius: 3rem;
	background: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
}

/* Typography */
h1,
h2,
h3 {
	color: var(--dark-blue);
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}

/* HEADER */

/* hide header CTA on mobile */
header .request-invite-cta {
	display: none;
}

header {
	position: relative;
	background-color: var(--white);
}

/* position header element on mobile, when the menu is closed */
header > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

nav {
	min-height: 33vh;
	width: 85%;
	margin: 0 auto;
	padding: 1rem;

	position: absolute;
	top: 5rem;
	left: 0rem;
	right: 0rem;

	border-radius: 6px;
	color: var(--dark-blue);

	display: grid;
	place-items: center;

	background-color: var(--white);
	z-index: 3;
}

nav a {
	display: inline-block;
	padding: 1rem;
}

#open-mobile-menu {
	padding: 0.5rem;
	background-image: url("./../images/icon-hamburger.svg");
	background-repeat: no-repeat;
	background-position: center;
}

#open-mobile-menu.mobile-menu-open {
	background-image: url("./../images/icon-close.svg");
}

/* Transparent purple overlay, appears when the header gets a class of ".mobile-menu-open" */
header.mobile-menu-open::after {
	content: "";
	background: rgb(0, 36, 1);
	background: linear-gradient(
		180deg,
		var(--dark-blue) 0%,
		rgba(0, 255, 250, 0) 100%
	);

	height: 100vh;
	width: 100%;
	top: 3.4rem;
	left: 0;
	position: absolute;
	z-index: 1;
}

/* HERO SECTION */

.hero {
	display: flex;
	flex-direction: column;
	background-image: url("./../images/bg-intro-mobile.svg");
	background-repeat: no-repeat;
	background-position: center -2.5rem;
	background-size: 100%;
	background-color: var(--very-light-gray);
}

.hero > div {
	order: 2;

	padding: 1rem;
	text-align: center;
}

.hero > div > h1,
.hero > div > p {
	margin-block-end: 2rem;
}

.hero > div p {
	line-height: 7vw;
	font-size: 4vw;
}

.hero h1 {
	font-size: 10vw;
	line-height: 12vw;
}

.hero img {
	order: 1;
	margin-block-start: -8.25rem;
}

/* END HERO SECTION */

/* SERVICES SECTION */

.services-introduction {
	padding: 1rem;
	text-align: center;
}

.services-introduction h2 {
	margin-block-end: 1rem;
}

.services-introduction p,
.services p {
	font-size: 4.2vw;
	line-height: 3.8vh;
	line-height: 7vw;
}

.services article {
	text-align: center;
	margin: 3rem auto;
	padding: 0 0.35rem;
}

.service-icon {
	width: 20%;
	margin-block-end: 1rem;
}

/* END SERVICES SECTION */

/* LATEST ARTICLES SECTION */

.latest-articles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.latest-articles h2 {
	margin-block-end: 2rem;
}

.latest-articles article {
	width: 95%;
	margin: 0 auto;
	background-color: var(--white);
}

.latest-articles article img {
	height: 45%;
	border-radius: 5px;
}

.article-meta {
	padding: 1rem 1rem 3rem;
}

.article-author,
.article-title {
	margin-block-end: 1rem;
}

.article-author {
	font-size: 2.9vw;
}

.article-title {
	font-size: 4.6vw;
}

.article-excerpt {
	font-size: 3.8vw;
	line-height: 5vw;
}

/* END LATEST ARTICLES SECTION */

/* FOOTER */

footer {
	background-color: var(--dark-blue);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 30rem;
	padding: 1rem;
}

.left-information {
	display: grid;
	place-items: center;
}

footer .logo {
	margin: 2rem auto;
}

.social-links {
	display: flex;
	justify-content: center;
	margin: 0rem auto 2.5rem;
}

.social-links img {
	width: 1.9rem;
	margin: 0 0.5rem;
}

.sitemap {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-block-end: 2rem;
}

.sitemap li {
	margin-block-end: 1.4rem;
}

.sitemap a {
	color: var(--grayish-blue);
}

footer .request-invite-cta {
	margin-block-end: 2rem;
}

footer .right-information {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.attribution {
	font-size: 11px;
	text-align: center;
	font-size: 11px;
	position: fixed;
	bottom: 2rem;
	left: 0;
	right: 0;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* END FOOTER */

/* hides the nav by default, will be overriden on desktop */
.hide {
	display: none;
}

@media screen and (min-width: 1440px) {
	.request-invite-cta {
		padding: 1rem 2rem;
	}
	main {
		max-inline-size: 100%;
		overflow: hidden;
		position: relative;
	}

	/* Hide the hamburger menu */
	#open-mobile-menu {
		display: none;
	}

	header {
		display: flex;
		align-items: center;
		padding: 1rem 8rem;
		position: unset;
		background-color: var(--white);
		justify-content: space-between;
		position: sticky;
		z-index: 4;
	}

	#mobile-menu {
		/* override .hide rules */
		display: flex !important;
		justify-content: space-around;

		/* reposition the nav in the header  */
		position: unset;
		padding: unset;
		height: unset;
		border-radius: unset;
		margin: unset;

		color: var(--grayish-blue);
		width: 30%;
	}

	header {
		padding: 0 6rem;
	}

	nav a {
		padding: 2rem 0;
		margin: 0 1rem;
		border-bottom: 10px solid transparent;
		border-image-slice: 1;
		border-bottom-width: 5px;
	}

	/* make the CTA visible */
	header .request-invite-cta {
		display: unset;
	}

	header > div {
		padding: unset;
	}

	.hero {
		background-image: url("./../images/bg-intro-desktop.svg");
		background-position: 68vh -18vw;
		display: flex;
		flex-direction: row;
		max-inline-size: 100%;

		/* prevent scrolling caused by the mockup image overflowing the screen */
		overflow: hidden !important;
		overflow: -moz-hidden-unscrollable !important;
	}
	.hero > div {
		padding: 9rem 0 8rem 6rem;
		text-align: unset;
		width: 38%;
	}
	.hero > div h1 {
		font-size: 4vw;
		line-height: 5vw;
	}
	.hero > div p {
		font-size: 1.5vw;
		line-height: 2.2vw;
	}
	.hero img {
		margin: unset;
		position: absolute;
		width: 50vw;
		top: -3.3%;
		right: -8.8rem;
		z-index: 3;
	}
	.request-invite-cta {
		font-size: 1.2vw;
	}

	/* SERVICES SECTION */
	.services,
	.services article,
	.services-introduction {
		text-align: unset;
	}
	.services {
		padding: 6rem 8rem;
		background-color: var(--light-grayish-blue);
	}
	.services-introduction {
		padding: unset;
	}
	.services-introduction h2 {
		font-size: 3vw;
	}
	.services .services-introduction > p {
		font-size: 1.45vw;
		line-height: 3vw;
		width: 60ch;
		margin-block-end: 4rem;
	}
	.service-icon {
		width: 30%;
		margin-block-end: 2rem;
	}
	.services article {
		width: 21%;
		margin: unset;
	}
	.services h3 {
		margin-block-end: 1.4rem;
		font-size: 1.7rem;
	}
	.services p {
		font-size: 1.05vw;
		line-height: 1.5vw;
	}
	.services-introduction + div {
		display: flex;
		justify-content: space-between;
	}
	/* END SERVICES SECTION */

	/* LATEST ARTICLES SECTION */
	.latest-articles {
		/* restoring the default display value */
		display: unset;
	}
	.latest-articles h2 {
		padding: 1rem 8rem;
		margin-block-start: 3rem;
	}
	.latest-articles h2 + div {
		padding: 1rem 8rem 3rem;
		display: flex;
		justify-content: space-between;
	}
	.latest-articles article {
		width: 22.4%;
		margin: unset;
	}
	.latest-articles article img {
		height: 20vh;
	}
	.article-meta {
		padding: 1rem 0.9rem 3rem;
	}
	.article-author {
		font-size: 1.1vw;
	}
	.article-title {
		font-size: 1.2vw;
		line-height: 2.4vh;
	}
	.article-excerpt {
		font-size: 1vw;
		line-height: 2vh;
	}
	/* END LATEST ARTICLES SECTION */

	/* FOOTER SECTION */
	footer {
		flex-direction: row;
		align-items: center;
		min-height: unset;
		padding: 2rem 8rem;
		color: var(--grayish-blue);
	}
	footer .logo {
		margin-block-end: 3.5rem;
	}
	.left-information {
		margin-inline-end: 6rem;
	}
	.social-links img {
		width: 1.35rem;
	}
	.sitemap {
		display: unset;
		margin-block-end: unset;
		columns: 2;
		column-gap: 4rem;
		margin-inline-end: auto;
	}
	footer .right-information {
		align-items: flex-end;
	}
	.attribution {
		margin: unset;
		align-items: flex-end;
	}
	.attribution .request-invite-cta {
		max-inline-size: 80%;
	}
	.attribution small {
		font-size: 1vw;
	}
	/* END FOOTER SECTION */
}

/* HOVER COMPATIBLE DEVICES */
@media (any-hover: hover) {
	.request-invite-cta:hover {
		cursor: pointer;
	}

	nav a:hover {
		cursor: pointer;
		border-bottom: 10px solid;
		border-image-slice: 1;
		border-bottom-width: 5px;
		border-image-source: linear-gradient(
			to left,
			var(--bright-cyan),
			var(--lime-green)
		);
	}

	.article-title:hover,
	.sitemap a:hover {
		color: var(--lime-green);
		cursor: pointer;
	}

	.social-links a:hover {
		color: var(--lime-green);
		cursor: pointer;
		filter: brightness(0.5) sepia(1) hue-rotate(116deg) saturate(5);
	}
}
/* END HOVER COMPATIBLE DEVICES */

/* TOUCH SCREENS */
@media (hover: none) {
	.request-invite-cta:active {
		cursor: pointer;
	}

	nav a:active {
		cursor: pointer;
		border-bottom: 10px solid;
		border-image-slice: 1;
		border-bottom-width: 5px;
		border-image-source: linear-gradient(
			to left,
			var(--bright-cyan),
			var(--lime-green)
		);
	}

	.article-title:active,
	.sitemap a:active {
		color: var(--lime-green);
		cursor: pointer;
	}

	.social-links a:active {
		color: var(--lime-green);
		cursor: pointer;
		filter: brightness(0.5) sepia(1) hue-rotate(116deg) saturate(5);
	}
}
/* END TOUCH SCREENS */
