:root {
	--dark-blue: hsl(233, 26%, 24%);
	--lime-green: hsl(136, 65%, 51%);
	--bright-cyan: hsl(192, 70%, 51%);
	--grayish-blue: hsl(233, 8%, 62%);
	--light-grayish-blue: hsl(220, 16%, 96%);
	--very-light-gray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);
}

@font-face {
	font-family: "Public Sans";
	src: url("./../fonts/Public_Sans/PublicSans-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: "Public Sans";
	src: url("./../fonts/Public_Sans/PublicSans-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Public Sans";
	src: url("./../fonts/Public_Sans/PublicSans-Bold.ttf");
	font-weight: 700;
}

* {
	font-family: "Public Sans" !important;
}

img {
	width: 100%;
	height: auto;
}

body {
	font-size: 18px;
	color: var(--grayish-blue);
	background-color: var(--white);
}

a {
	text-decoration: none;
	color: unset;
}

/* custom resets */
button {
	background-color: unset;
	border: unset;
}

/* Utilities */
.logo {
	width: 10rem;
}

button.request-invite-cta {
	padding: 1rem 3rem;
	/* padding: 5% 15%; */
	font-size: 4vw;
	color: var(--white);
	border-radius: 3rem;
	background: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
}

.hide {
	display: none !important;
}

/* Typography */
h1,
h2,
h3 {
	color: var(--dark-blue);
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}

/* HEADER */

/* hide header CTA on mobile */
header .request-invite-cta {
	display: none;
}

header {
	position: relative;
	background-color: var(--white);
}

header > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

#mobile-menu {
	height: 33vh;
	width: 85%;
	margin: 0 auto;
	padding: 1rem;

	position: absolute;
	top: 5rem;
	left: 0rem;
	right: 0rem;

	border-radius: 6px;
	color: var(--dark-blue);

	display: grid;
	place-items: center;

	background-color: var(--white);
	z-index: 3;
}

#mobile-menu a {
	margin: 0.5rem auto;
}

#open-mobile-menu {
	padding: 0.5rem;
	background-image: url("./../images/icon-hamburger.svg");
	background-repeat: no-repeat;
	background-position: center;
}

#open-mobile-menu.mobile-menu-open {
	background-image: url("./../images/icon-close.svg");
}

/* Transparent purple overlay */
header.mobile-menu-open::after {
	content: "";
	background: rgb(0, 36, 1);
	background: linear-gradient(
		180deg,
		var(--dark-blue) 0%,
		rgba(0, 255, 250, 0) 100%
	);

	height: 100vh;
	width: 100%;
	top: 3.4rem;
	left: 0;
	position: absolute;
	z-index: 1;
}

.hero {
	display: flex;
	flex-direction: column;
	background-image: url("./../images/bg-intro-mobile.svg");
	background-repeat: no-repeat;
	background-position: center -2.5rem;
}

.hero > div {
	order: 2;

	padding: 1rem;
	text-align: center;
}

.hero > div > h1,
.hero > div > p {
	margin-bottom: 2rem;
}

.hero > div p {
	line-height: 7vw;
	font-size: 4vw;
}

.hero h1 {
	font-size: 10vw;
	line-height: 12vw;
}

.hero img {
	order: 1;
	margin-top: -8.25rem;
}

.services-introduction {
	padding: 1rem;
	text-align: center;
}

.services-introduction h2 {
	margin-bottom: 1rem;
}

.services-introduction p,
.services p {
	font-size: 4.2vw;
	line-height: 3.8vh;
	line-height: 7vw;
}

.services article {
	text-align: center;
	margin: 3rem auto;
	padding: 0 0.35rem;
}

.service-icon {
	width: 20%;
	margin-bottom: 1rem;
}

.latest-articles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.latest-articles h2 {
	margin-bottom: 2rem;
}

.latest-articles article {
	width: 95%;
	margin: 0 auto;
	background-color: var(--white);
}

.latest-articles article img {
	height: 45%;
	border-radius: 5px;
}

.article-meta {
	padding: 1rem 1rem 3rem;
}

.article-author,
.article-title {
	margin-bottom: 1rem;
}

.article-author {
	font-size: 2.9vw;
}

.article-title {
	font-size: 4.6vw;
}

.article-excerpt {
	font-size: 3.8vw;
	line-height: 5vw;
}

footer {
	background-color: var(--dark-blue);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 30rem;
	padding: 1rem;
}

.left-information {
	display: grid;
	place-items: center;
}

footer .logo {
	margin: 2rem auto;
}

.social-links {
	display: flex;
	justify-content: center;
	margin: 0rem auto 2.5rem;
}

.social-links img {
	width: 1.9rem;
	margin: 0 0.5rem;
}

.sitemap {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

.sitemap li {
	margin-bottom: 1.4rem;
}

.sitemap a {
	color: var(--grayish-blue);
}

footer .request-invite-cta {
	margin-bottom: 2rem;
}

.attribution {
	margin-top: 2rem;
	font-size: 11px;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
	button.request-invite-cta {
		padding: 1rem 2rem;
	}
	main {
		max-width: 100%;
		overflow: hidden;
		position: relative;
	}
	#open-mobile-menu {
		display: none;
	}
	header {
		display: flex;
		align-items: center;
		padding: 1rem 8rem;
		position: unset;
		background-color: var(--white);
		justify-content: space-between;
		position: sticky;
		z-index: 4;
	}
	#mobile-menu {
		/* overriding .hide rules */
		display: flex !important;
		justify-content: space-around;
		position: unset;
		padding: unset;
		height: unset;
		border-radius: unset;
		margin: unset;

		color: var(--grayish-blue);
		width: 30%;
	}
	header .request-invite-cta {
		display: unset;
	}
	.hero {
		background-image: url("./../images/bg-intro-desktop.svg");
		background-position: 68vh -18vw;
		display: flex;
		flex-direction: row;
		max-width: 100%;
		overflow: hidden !important;
		overflow: -moz-hidden-unscrollable !important;
	}
	.hero > div {
		padding: 9rem 0 8rem 6rem;
		text-align: unset;
		width: 38%;
	}
	.hero > div h1 {
		font-size: 4vw;
		line-height: 5vw;
	}
	.hero > div p {
		font-size: 1.5vw;
		line-height: 2.2vw;
	}
	.hero img {
		margin: unset;
		position: absolute;
		width: 50vw;
		top: -3.3%;
		right: -8.8rem;
		z-index: 3;
	}
	button.request-invite-cta {
		font-size: 1.2vw;
	}
	.services,
	.services article,
	.services-introduction {
		text-align: unset;
	}
	.services {
		padding: 6rem 8rem;
		background-color: var(--light-grayish-blue);
	}
	.services-introduction {
		padding: unset;
	}
	.services-introduction h2 {
		font-size: 3vw;
	}
	.services .services-introduction > p {
		font-size: 1.45vw;
		line-height: 3vw;
		width: 60ch;
		margin-bottom: 4rem;
	}
	.service-icon {
		width: 30%;
		margin-bottom: 2rem;
	}
	.services article {
		width: 21%;
		margin: unset;
	}
	.services h3 {
		margin-bottom: 1.4rem;
		font-size: 1.7rem;
	}
	.services p {
		font-size: 1.05vw;
		line-height: 1.5vw;
	}
	.services-introduction + div {
		display: flex;
		justify-content: space-between;
	}
	.latest-articles {
		display: unset;
	}
	.latest-articles h2 {
		padding: 1rem 8rem;
		margin-top: 3rem;
	}
	.latest-articles h2 + div {
		padding: 1rem 8rem 3rem;
		display: flex;
		justify-content: space-between;
	}
	.latest-articles article {
		width: 22.4%;
		margin: unset;
	}
	.latest-articles article img {
		height: 20vh;
	}
	.article-meta {
		padding: 1rem 0.9rem 3rem;
	}
	.article-author {
		font-size: 1.1vw;
	}
	.article-title {
		font-size: 1.2vw;
		line-height: 2.4vh;
	}
	.article-excerpt {
		font-size: 1vw;
		line-height: 2vh;
	}
	footer {
		flex-direction: row;
		align-items: center;
		min-height: unset;
		padding: 2rem 8rem;
		color: var(--grayish-blue);
	}
	footer .logo {
		margin-bottom: 3.5rem;
	}
	.left-information {
		margin-right: 6rem;
	}
	.social-links img {
		width: 1.35rem;
	}
	.sitemap {
		display: unset;
		margin-bottom: unset;
		columns: 2;
		column-gap: 4rem;
		margin-right: auto;
	}
	.attribution {
		margin: unset;
		/* display: flex;
		flex-direction: column; */
		align-items: flex-end;
	}
	.attribution .request-invite-cta {
		max-width: 80%;
	}
	.attribution small {
		font-size: 1vw;
	}
}
